APP_ENV=prod_dev

LDAP_URL=url
LDAP_SEARCHBASE=search_base
LDAP_NAMEATTR=name_attr
LDAP_DOMAIN=domain_name

DB_RM_HOST=host
DB_RM_USER=user
DB_RM_PASSWORD=password
DB_RM_SERVICENAME=servicename

DB_C5_HOST=host
DB_C5_USER=user
DB_C5_PASSWORD=password
DB_C5_SERVICENAME=servicename

MYSQL_HOST=host
MYSQL_DBNAME=dbname
MYSQL_USER=user
MYSQL_PASSWORD=password

MAIL_HOST=host
MAIL_PORT=port
MAIL_AUTH=true_false
MAIL_USERNAME=mail_username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=encryption
MAIL_FROM=mail_account
MAIL_FROM_NAME=mail_from

ORACLE_LIB_DIR=/path/to/oracle/client

JWT_SECRET=your-secret-here
JWT_ISSUER=
JWT_AUDIENCE=
JWT_TTL=3600
JWT_ALGORITHM=HS256

AZURE_TENANT_ID=tenant
AZURE_CLIENT_ID=client_id
AZURE_CLIENT_SECRET=client_secret
SUPPORT_MAILBOX=helpdesk@seu-dominio.com.br
GRAPH_PASTA=Chamados